                            /*Шрифты и базовые стили*/
@font-face {
    font-family: "Gilroy";
    src: url(fonts/Gilroy-Regular.woff2) format("woff2"),
         url(fonts/Gilroy-Regular.woff) format("woff"),
         url(fonts/Gilroy-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/Gilroy-RegularItalic.woff2) format("woff2"),
         url(fonts/Gilroy-RegularItalic.woff) format("woff"),
         url(fonts/Gilroy-RegularItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/Gilroy-Bold.woff2) format("woff2"),
         url(fonts/Gilroy-Bold.woff) format("woff"),
         url(fonts/Gilroy-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* , *::before , *::after {
    box-sizing: inherit;
}

html {
    background-color: #E5E5E5;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    font-family: "Gilroy" , sans-serif;
    font-size: 18px;
    line-height: 24px;
}

p, h1, h2, h3, ul, li, img {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

                                    /* Header */
.page-header {
    width: 1440px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 34px 36px 80px;
}

.page-header .logo {
    width: 41px;
    height: 39px;
}

.page-header__main-menu {
    display:flex;
    list-style: none;
    margin-left: 62px; /* Кажется это костыль, но без него меню сильно уходит влево,
                            из-за распределения свободного пространства во флексе*/
}

.page-header__main-menu li {
    margin-right: 31px;
}

.page-header__main-menu li:last-of-type {
    margin-right: 0;
}

.page-header__main-menu a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.page-header__button {
    padding: 11px 25px 9px 23px;
    background-color: #FAFAFA;
    border: 1px solid #F7941E;
    border-radius: 5px;
    color: #F7941E;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}

                        /*Slogan and "How we work" sections */
.slogan {
    width: 1440px;
    height: 700px; /*Если убрать высоту, то внизу появляется отступ 5px, произошло когда оберул img в div*/
    background-color: #F1F1F2;
    display: flex;
}

.slogan__wrapper {
    width: 721px;
    padding: 144px 126px 135px 162px;
}

.slogan__title {
    font-size:56px;
    line-height: 69px;
    margin-bottom: 40px;
}

.slogan__subtitle {
    font-size:20px;
    line-height: 28px;
    margin-bottom: 57px;
}

.slogan__button {
    padding: 20px 33px 17px 35px;
    background-color: #F7941E;
    border:1px solid #F7941E;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.how-we-work {
    width: 1440px;
    height: 600px;
    background-color: #F1F1F2;
    display: flex;
}

.how-we-work__wrapper {
    width: 719px;
    padding: 156px 166px 104px 112px;
}

.how-we-work__title {
    font-size:32px;
    font-weight: normal;
    line-height: 45px;
    margin-bottom: 26px;
}

.how-we-work__subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 60px;
}

.how-we-work__button {
    padding:18px 45px 18px 46px;
    border: 1px solid #F7941E;
    border-radius: 5px;
    color:#F7941E;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

                                /*Posts tall section*/
.posts-tall {
    width: 1440px;
    background-color: #FFFFFF;
    padding: 91px 135px 137px 135px;
}

.posts-tall__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
}

.posts-tall__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 69px;
}

.posts-tall__cards-wrapper {
    display: flex;
}

.posts-tall__cards {
    width: 270px;
    margin-right: 30px;
}

.posts-tall__cards:last-of-type {
    margin-right:0;
}

.posts-tall__cards:hover {
    background-color:#FFFFFF;
    box-shadow: 4px 4px 15px 0 rgb(233, 232, 232);
}

.posts-tall__cards .posts-tall__cards-image {
    width: 270px;
    height: 270px;
}

.posts-tall__card-label {
    background-color: #FAFAFA;
    margin-top: -7px; /* Снова костыль, между картинкой и блоком расстояние в 7px, 
    не знаю как от него избавиться по другому*/
    padding: 22px 24px 24px 24px;
}

.posts-tall__card-title {
    display: block;
    margin-bottom:72px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

.posts-tall__card-label a {
    font-family: "Roboto" , sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}
                                    /*STA section*/
.CTA-section {
    width: 1440px;
    background-color: #F7941E;
    display: flex;
    align-items: center;
    padding:77px 235px 73px 235px;
}

.CTA-section__title {
    font-size: 32px;
    line-height: 45px;
    font-weight: bold;
}

.CTA-section__subtitle {
    font-size: 32px;
    line-height: 45px;
}

.CTA-section__button , 
.CTA-section__link {
    padding: 15px 33px 13px 35px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    text-align: center;
}

.CTA-section__button {
    background-color: #231F20;
    border: 1px solid #231F20;
    color: #FFFFFF;
    margin:0 16px 0 auto;
}

.CTA-section__link {
    border: 1px solid #231F20;
    background-color: #F7941E;
    color:#231F20;
    text-decoration: none;
}
                             /*Blog section*/
.blog-section {
    width: 1440px;
    height: 1026px;
    background-color: #FFFFFF;
}

.blog-section h2 {
    font-size:32px;
    line-height: 38px;
    text-align: center;
    padding-top: 83px;
}

.blog-section p {
    font-size:18px;
    line-height: 24px;
    text-align: center;
    padding-top: 25px;
}

.blog-section__main-article {
    width: 1170px;
    height: 370px;
    margin: 76px auto 40px auto;
    display: flex;
}

.blog-section__main-article>img {
    width: 400px;
    height: 370px;
}

.blog-section__article-content {
    background-color: #231F20;
    flex-grow: 1;
    padding: 60px 200px 0 78px;
    color: #FFFFFF;
}

.blog-section__article-content cite {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}

.blog-section__article-content h3 {
    font-size: 48px;
    line-height: 58px;
    margin-top: 22px;
    margin-bottom: 72px;
}

.blog-section__article-content a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
}

.blog-section__article-wrapper {
    width:1170px;
    height: 290px;
    display: flex;
    margin: 0 auto;
}

.blog-section__article {
    width: 570px;
    padding: 42px 50px 0 48px;
}

.blog-section__article-wrapper .blog-section__article:first-of-type {
    margin-right:30px;
    box-shadow: 4px 4px 15px 0 rgb(233, 232, 232);
}

.blog-section__article h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

.blog-section__article p {
    font-size: 18px;
    line-height: 25px;
    text-align:left;
}

.blog-section__article p {
    font-size: 18px;
    line-height: 25px;
    margin-top: -8px; /*Снова костыль, из-за межстрочного интервала заголовка выше, 
    у меня не получается попасть по высоте этого параграфа*/
    margin-bottom:39px;
}

.blog-section__article a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}
                                /*Footer*/
.page-footer {
    width: 1440px;
    height: 410px;
    background-color: #FAFAFA;
    padding-top: 111px;
}

.page-footer__menu {
    display: flex;
    width: 600px;
    margin: 0 auto 38px 406px;
}

.page-footer__menu li {
    list-style: none;
}

.page-footer__menu li:first-of-type {
    margin-right: 81px;
}

.page-footer__menu li:nth-of-type(3) {
    margin: 2px 141px 0 142px;
}

.page-footer__menu li:nth-of-type(4) {
    margin-right:54px;
}

.page-footer__menu li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.page-footer hr {
    width:1000px;
    border: 1px solid #000000;
    margin-bottom: 54px;
}

.page-footer__icons-list {
    width: 296px;
    margin: 0 auto 64px auto;
    display: flex;
    justify-content: space-between;
}
.page-footer__icons-list li {
    list-style: none;
}

.page-footer__copyrights {
    width: 210px;
    margin: 0 auto;
}

.page-footer__copyrights span {
    font-size: 14px;
    line-height: 20px;
}

.page-footer__copyrights span:first-of-type {
    margin-right: 10px;
}